asgiref==3.8.1
beautifulsoup4==4.14.2
bleach==6.2.0
Brotli==1.1.0
cffi==1.17.1
chardet==5.2.0
cssselect2==0.8.0
Django==4.2.7
django-cors-headers==4.7.0
django-extensions==4.1
django-filter==25.1
django-guardian==2.4.0
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.0
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.5.1
fonttools==4.58.4
inflection==0.5.1
lxml==5.3.1
numpy==2.2.3
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pdf2image==1.17.0
pdfrw==0.4
pillow==11.1.0
psycopg2-binary==2.9.10
PyJWT==2.9.0
PyMuPDF==1.26.5
PyPDF2==3.0.1
pyphen==0.17.2
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-magic==0.4.27
pytz==2025.1
PyYAML==6.0.2
reportlab==4.3.1
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
tinycss2==1.4.0
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
watchdog==6.0.0
weasyprint==65.1
webencodings==0.5.1
whitenoise==6.6.0
zopfli==0.2.3.post1
